In [410]:
import glob
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import re
import string
import langid
from langdetect import detect, DetectorFactory
import sys
import numpy as np
from scipy.stats import randint
import scipy
import seaborn as sns # used for plot interactive graph. 
import matplotlib.pyplot as plt
import seaborn as sns
from io import StringIO
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_selection import chi2
from IPython.display import display
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.feature_selection import chi2, f_regression , mutual_info_classif
from sklearn import metrics
import pandas as pd
%matplotlib inline

path = 'DataSet' # use your path
all_files = glob.glob(path + "/*.xlsx")
li = []

for filename in all_files:
    df = pd.read_excel(filename)
    li.append(df)
frame = pd.concat(li, axis=0, ignore_index=True)
frame = frame.drop(frame[frame['Classification'].isnull()].index)
frame.dropna(subset=['Reviews/Comments'], inplace=True)
frame  = frame.sort_values('Feedback ID')
frame.to_excel("Input.xlsx")

In [411]:
frame

,OYO ID,Hotel ID,OYO Product,Feedback ID,Booking ID,Source,Rating,L1,L2,Reviews/Comments,...,Comfort,Direction,Location,Customer Support,Breakfast,Food,Payment,Pricing,Default,Classification
1062,MRT042,46039.0,SMART,60144582.0,118672380.0,Android App,5.0,NaN,NaN,I had a great stay. Hotel staff was very suppo...,...,True,False,False,False,False,False,False,False,False,Good
283,KOL1340,82429.0,SMART,60156829.0,118141552.0,Android App,1.0,NaN,NaN,"Worst ever OYO experienced. No OYO sign board,...",...,True,True,True,False,False,False,False,False,False,Bad
737,ASR293,58291.0,SMART,60168982.0,118586097.0,bulk_upload,0.0,NaN,NaN,One of the best properties we have ever been i...,...,False,False,False,False,False,False,False,False,True,Good
1465,GRG1010,40843.0,SMART,60178229.0,118844212.0,Android App,5.0,NaN,NaN,Everything is good no complaints staff behavio...,...,False,False,False,False,False,False,False,False,False,Good
654,DEL775,15322.0,SMART,60179150.0,118417540.0,Android App,5.0,NaN,NaN,One of the best hotel through OYO. I recommend...,...,False,False,False,False,False,False,False,False,False,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
989,GZB108,46852.0,SMART,61382951.0,121800300.0,IOS App,3.0,NaN,NaN,The curtains were very thin and incapable to k...,...,True,False,False,False,False,False,False,False,False,Bad
842,SRG102,56126.0,SMART,61390504.0,117518389.0,Android App,3.0,NaN,NaN,No local ids cards accepted and unmarried coup...,...,False,False,False,False,False,False,False,False,True,Bad
2199,DEL1593,57984.0,Townhouse,61390678.0,122345895.0,Crs,1.0,NaN,NaN,Wash room was not clean \n room was not clean....,...,False,False,False,False,False,False,False,False,False,Bad
1134,KOL1040,57161.0,Silverkey,61392769.0,121787462.0,Android App,1.0,NaN,NaN,The manager with tall hieght told to leave the...,...,False,False,False,False,False,False,False,False,False,Discard
1149,MUM1123,59540.0,CapitalO,61395280.0,122677830.0,Crs,3.0,NaN,NaN,it was good stay....reception people was very ...,...,True,False,False,False,False,False,True,False,False,Good

In [412]:
%%time
df = pd.read_excel("Input.xlsx")
unique_sentiments_count = df.groupby('Classification')['Feedback ID'].nunique()
print(unique_sentiments_count)

Classification
Average     194
Bad        1153
Discard     179
Good        862
Name: Feedback ID, dtype: int64
CPU times: user 724 ms, sys: 0 ns, total: 724 ms
Wall time: 723 ms

In [413]:
'''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
import string
import pandas as pd
import re
import string
import langid

def clean_text_round1(text,punctuation):
    text = text.lower()
    text = re.sub('[%s]' % re.escape(punctuation), ' ', text)
    text = re.sub('\n',' ',text)
    text = " ".join(text.split())
    return text

punctuation = string.punctuation.replace("'","")
punctuation = punctuation + "0123456789"
df['comment(1cleaning)'] = df['Reviews/Comments'].apply(lambda x: clean_text_round1(x,punctuation))
df['langid'] = df['Reviews/Comments'].apply(lambda x: langid.classify(x)[0])

In [414]:
from nltk.corpus import wordnet
import string
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.tokenize import WhitespaceTokenizer
from nltk.stem import WordNetLemmatizer
import nltk


stop = ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", 
            "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 
            'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 
            'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 
            'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 
            'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of',
            'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 
            'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 
            'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 
            'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'only', 'own', 
            'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 
            "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', "aren't", 'couldn', 
            "couldn't", "hadn't", "hasn't", "haven't", "isn't", 'ma', "mightn't", "mustn't", "needn't" , "shan't", 'shouldn', 'wasn', "weren't"]


print(stop)
dir(nltk.corpus)

def get_wordnet_pos(pos_tag):
    if pos_tag.startswith('J'):
        return wordnet.ADJ
    elif pos_tag.startswith('V'):
        return wordnet.VERB
    elif pos_tag.startswith('N'):
        return wordnet.NOUN
    elif pos_tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

    
def clean_text_round2(text):
    # print(text)
    text = text.split(" ")
    text = [x for x in text if x not in stop]
    # remove empty tokens
    text = [t for t in text if len(t) > 0]
    # pos tag text
    # print(text)
    pos_tags = pos_tag(text)
    #print(pos_tags)
    # lemmatize text
    text = [WordNetLemmatizer().lemmatize(t[0], get_wordnet_pos(t[1])) for t in pos_tags]
    # remove words with only one letter
    text = [t for t in text if len(t) > 1]
    # join all
    text = " ".join(text)
    return(text)     
df['lemmatized_comment'] = df['comment(1cleaning)'].apply(lambda x: clean_text_round2(x))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', "aren't", 'couldn', "couldn't", "hadn't", "hasn't", "haven't", "isn't", 'ma', "mightn't", "mustn't", "needn't", "shan't", 'shouldn', 'wasn', "weren't"]

In [415]:
df = df.drop(df[df['Classification'].isnull()].index)
df = df.drop(df[df['langid'] !='en'].index)
df.dropna(subset=['lemmatized_comment'], inplace=True)
unique_sentiments_count = df.groupby('Classification')['Feedback ID'].nunique()
print(unique_sentiments_count)

Classification
Average     193
Bad        1150
Discard     172
Good        857
Name: Feedback ID, dtype: int64

In [416]:
def getClass(text):
    if(text == 'Good'):
        return 1
    if(text == 'Bad'):
        return 0
    return 2

df['Class'] = df['Classification'].apply(lambda x: getClass(x))

In [417]:
df

,Unnamed: 0,OYO ID,Hotel ID,OYO Product,Feedback ID,Booking ID,Source,Rating,L1,L2,...,Breakfast,Food,Payment,Pricing,Default,Classification,comment(1cleaning),langid,lemmatized_comment,Class
0,1062,MRT042,46039,SMART,60144582,118672380,Android App,5,NaN,NaN,...,False,False,False,False,False,Good,i had a great stay hotel staff was very suppor...,en,great stay hotel staff supportive kind hearted...,1
1,283,KOL1340,82429,SMART,60156829,118141552,Android App,1,NaN,NaN,...,False,False,False,False,False,Bad,worst ever oyo experienced no oyo sign board m...,en,worst ever oyo experienced no oyo sign board m...,0
2,737,ASR293,58291,SMART,60168982,118586097,bulk_upload,0,NaN,NaN,...,False,False,False,False,True,Good,one of the best properties we have ever been i...,en,one best property ever would like visit strong...,1
3,1465,GRG1010,40843,SMART,60178229,118844212,Android App,5,NaN,NaN,...,False,False,False,False,False,Good,everything is good no complaints staff behavio...,en,everything good no complaint staff behaviour p...,1
4,654,DEL775,15322,SMART,60179150,118417540,Android App,5,NaN,NaN,...,False,False,False,False,False,Good,one of the best hotel through oyo i recommend ...,en,one best hotel oyo recommend hotel guest room ...,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2384,989,GZB108,46852,SMART,61382951,121800300,IOS App,3,NaN,NaN,...,False,False,False,False,False,Bad,the curtains were very thin and incapable to k...,en,curtain thin incapable keep sunlight away cann...,0
2385,842,SRG102,56126,SMART,61390504,117518389,Android App,3,NaN,NaN,...,False,False,False,False,True,Bad,no local ids cards accepted and unmarried coup...,en,no local id card accept unmarried couple not w...,0
2386,2199,DEL1593,57984,Townhouse,61390678,122345895,Crs,1,NaN,NaN,...,False,False,False,False,False,Bad,wash room was not clean room was not clean pro...,en,wash room not clean room not clean properly co...,0
2387,1134,KOL1040,57161,Silverkey,61392769,121787462,Android App,1,NaN,NaN,...,False,False,False,False,False,Discard,the manager with tall hieght told to leave the...,en,manager tall hieght tell leave hotel complain ...,2
2388,1149,MUM1123,59540,CapitalO,61395280,122677830,Crs,3,NaN,NaN,...,False,False,True,False,False,Good,it was good stay reception people was very rud...,en,good stay reception people rude payment issue ...,1

In [420]:
df = df[(df.Class==1) | (df.Class==0)]

In [421]:
df

,Unnamed: 0,OYO ID,Hotel ID,OYO Product,Feedback ID,Booking ID,Source,Rating,L1,L2,...,Breakfast,Food,Payment,Pricing,Default,Classification,comment(1cleaning),langid,lemmatized_comment,Class
0,1062,MRT042,46039,SMART,60144582,118672380,Android App,5,NaN,NaN,...,False,False,False,False,False,Good,i had a great stay hotel staff was very suppor...,en,great stay hotel staff supportive kind hearted...,1
1,283,KOL1340,82429,SMART,60156829,118141552,Android App,1,NaN,NaN,...,False,False,False,False,False,Bad,worst ever oyo experienced no oyo sign board m...,en,worst ever oyo experienced no oyo sign board m...,0
2,737,ASR293,58291,SMART,60168982,118586097,bulk_upload,0,NaN,NaN,...,False,False,False,False,True,Good,one of the best properties we have ever been i...,en,one best property ever would like visit strong...,1
3,1465,GRG1010,40843,SMART,60178229,118844212,Android App,5,NaN,NaN,...,False,False,False,False,False,Good,everything is good no complaints staff behavio...,en,everything good no complaint staff behaviour p...,1
4,654,DEL775,15322,SMART,60179150,118417540,Android App,5,NaN,NaN,...,False,False,False,False,False,Good,one of the best hotel through oyo i recommend ...,en,one best hotel oyo recommend hotel guest room ...,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2383,905,DEL1525,55641,SPOT ON,61373230,118489815,Integrated OTA,2,NaN,NaN,...,False,False,False,False,True,Bad,refused to provide a discount for booking i ca...,en,refuse provide discount book say anything posi...,0
2384,989,GZB108,46852,SMART,61382951,121800300,IOS App,3,NaN,NaN,...,False,False,False,False,False,Bad,the curtains were very thin and incapable to k...,en,curtain thin incapable keep sunlight away cann...,0
2385,842,SRG102,56126,SMART,61390504,117518389,Android App,3,NaN,NaN,...,False,False,False,False,True,Bad,no local ids cards accepted and unmarried coup...,en,no local id card accept unmarried couple not w...,0
2386,2199,DEL1593,57984,Townhouse,61390678,122345895,Crs,1,NaN,NaN,...,False,False,False,False,False,Bad,wash room was not clean room was not clean pro...,en,wash room not clean room not clean properly co...,0
2388,1149,MUM1123,59540,CapitalO,61395280,122677830,Crs,3,NaN,NaN,...,False,False,True,False,False,Good,it was good stay reception people was very rud...,en,good stay reception people rude payment issue ...,1

In [422]:
resampled_df = df
X = resampled_df['lemmatized_comment']
y = resampled_df['Class']

In [205]:
X_train, X_test, y_train, y_test,indices_train,indices_test = train_test_split(X,y, 
                                                               X.index, test_size=0.25, 
                                                               random_state=42,stratify=y)

In [206]:
tfidf = TfidfVectorizer(sublinear_tf=True, min_df=3,
                        ngram_range=(1, 2))

#print(df.comment3lemmatize)
# We transform each complaint into a vector
fitted_vectorizer = tfidf.fit(X_train)

features = fitted_vectorizer.transform(X_train)

labels = y_train
print("Each of the %d comment is represented by %d features (TF-IDF score of unigrams and bigrams)" %(features.shape))

Each of the 1779 comment is represented by 1994 features (TF-IDF score of unigrams and bigrams)

In [207]:
from sklearn.feature_selection import SelectKBest, chi2
selector = SelectKBest(chi2,250)
fitted_selector = selector.fit(features,y_train)
features_new = fitted_selector.transform(features)

In [208]:
mask = fitted_selector.get_support() #list of booleans
new_features_names = [] # The list of your K best features
feature_names= tfidf.get_feature_names()
for bool, feature in zip(mask, feature_names):
    if bool:
        new_features_names.append(feature)

In [85]:
# Hyperparamete Tuning
from sklearn.model_selection import cross_val_score, StratifiedKFold
from sklearn.metrics import roc_auc_score, make_scorer, accuracy_score
from hyperopt import hp, tpe
import xgboost as xgb
from hyperopt.fmin import fmin

auc_scorer = make_scorer(roc_auc_score)

def objective(params):
   
    params = {'n_estimators': int(params['n_estimators']),
              'max_depth': int(params['max_depth']),
              'min_child_weight': int(params['min_child_weight']),
              'learning_rate' : float(params['learning_rate']),
              'gamma': float(params['gamma']),
              'colsample_bytree': float(params['colsample_bytree']),
              'subsample': float(params['subsample']),
              'colsample_bylevel': float(params['colsample_bylevel'])
#               ,'class_weight':str(params['class_weight'])
             }
   
    clf = xgb.XGBClassifier(random_state=42, **params)
    score = cross_val_score(clf,features_new,labels, scoring=auc_scorer, cv=StratifiedKFold(n_splits=5)).mean()
    print("AUC {:.3f} params {}".format(score, params))
    return -score

space = {
    'learning_rate':    hp.uniform('learning_rate', 0.01, 0.5),
    'max_depth':        hp.choice('max_depth',        np.arange(1, 16, 1, dtype=int)),
    'min_child_weight': hp.choice('min_child_weight', np.arange(1, 8, 1, dtype=int)),
    'gamma' : hp.uniform('gamma', 0.1, 1.5),
    'colsample_bytree': hp.uniform('colsample_bytree', 0.3, 0.9),
    'subsample':        hp.uniform('subsample', 0.7, 1),
    'colsample_bylevel': hp.uniform('colsample_bylevel', 0.3, 0.8),
    'n_estimators':     hp.choice('n_estimators', np.arange(10, 1100, 50, dtype=int)),
}

best = fmin(fn=objective,
            space=space,
            algo=tpe.suggest,
            max_evals=100)
for i in best.keys():
    best[i] = int(best[i])

best_model = xgb.XGBClassifier(random_state=42, **best)

AUC 0.835 params {'n_estimators': 560, 'max_depth': 2, 'min_child_weight': 4, 'learning_rate': 0.33730459250060224, 'gamma': 1.4506989750818944, 'colsample_bytree': 0.6844639545892011, 'subsample': 0.7899429261573497, 'colsample_bylevel': 0.43539866858425197}
AUC 0.854 params {'n_estimators': 260, 'max_depth': 9, 'min_child_weight': 1, 'learning_rate': 0.2775651937347629, 'gamma': 0.7417703183023474, 'colsample_bytree': 0.779467048644354, 'subsample': 0.716929483914224, 'colsample_bylevel': 0.588329974455629}
AUC 0.854 params {'n_estimators': 460, 'max_depth': 5, 'min_child_weight': 2, 'learning_rate': 0.21259318544940017, 'gamma': 1.4813809945882346, 'colsample_bytree': 0.7836009951570224, 'subsample': 0.8802655641681099, 'colsample_bylevel': 0.7633374505535013}
AUC 0.814 params {'n_estimators': 510, 'max_depth': 3, 'min_child_weight': 6, 'learning_rate': 0.2631197051414458, 'gamma': 0.9286646454071584, 'colsample_bytree': 0.4899990568264899, 'subsample': 0.7745487980903359, 'colsample_bylevel': 0.6209722461007045}
AUC 0.830 params {'n_estimators': 610, 'max_depth': 12, 'min_child_weight': 3, 'learning_rate': 0.36868001296542247, 'gamma': 1.3056199501378594, 'colsample_bytree': 0.89072554896206, 'subsample': 0.8073699798506913, 'colsample_bylevel': 0.3807494291226782}
AUC 0.824 params {'n_estimators': 60, 'max_depth': 14, 'min_child_weight': 5, 'learning_rate': 0.33101603706139693, 'gamma': 1.4656152228610397, 'colsample_bytree': 0.5029136576236284, 'subsample': 0.733291854202578, 'colsample_bylevel': 0.6027395158838821}
AUC 0.851 params {'n_estimators': 860, 'max_depth': 14, 'min_child_weight': 3, 'learning_rate': 0.010299165134639507, 'gamma': 0.6891762018929272, 'colsample_bytree': 0.35254449244600605, 'subsample': 0.8889212479675938, 'colsample_bylevel': 0.6613383359013612}
AUC 0.846 params {'n_estimators': 960, 'max_depth': 6, 'min_child_weight': 2, 'learning_rate': 0.39544838663117, 'gamma': 0.6973236046586881, 'colsample_bytree': 0.3744839768996446, 'subsample': 0.9303244783190284, 'colsample_bylevel': 0.7359166326467013}
AUC 0.849 params {'n_estimators': 260, 'max_depth': 12, 'min_child_weight': 2, 'learning_rate': 0.1803315970584746, 'gamma': 0.8113736061372243, 'colsample_bytree': 0.8319489918497351, 'subsample': 0.9050505588509851, 'colsample_bylevel': 0.42872332791271756}
AUC 0.808 params {'n_estimators': 210, 'max_depth': 1, 'min_child_weight': 6, 'learning_rate': 0.4489456277614735, 'gamma': 0.6338081450568659, 'colsample_bytree': 0.48190751945280075, 'subsample': 0.7331804916224143, 'colsample_bylevel': 0.44339651364174665}
AUC 0.824 params {'n_estimators': 60, 'max_depth': 2, 'min_child_weight': 6, 'learning_rate': 0.41491730715351494, 'gamma': 1.2114571982415556, 'colsample_bytree': 0.8482250802553042, 'subsample': 0.9197517849377883, 'colsample_bylevel': 0.4756956996362755}
AUC 0.851 params {'n_estimators': 60, 'max_depth': 8, 'min_child_weight': 2, 'learning_rate': 0.06936673747256294, 'gamma': 0.9242978896088265, 'colsample_bytree': 0.8812273519111042, 'subsample': 0.8396816919170428, 'colsample_bylevel': 0.6059974844524982}
AUC 0.825 params {'n_estimators': 760, 'max_depth': 3, 'min_child_weight': 6, 'learning_rate': 0.0922636117557847, 'gamma': 1.1391996258296426, 'colsample_bytree': 0.5863970201779103, 'subsample': 0.8502359192613503, 'colsample_bylevel': 0.3052886624091075}
AUC 0.818 params {'n_estimators': 1060, 'max_depth': 13, 'min_child_weight': 4, 'learning_rate': 0.2539599202545313, 'gamma': 0.6967517904777746, 'colsample_bytree': 0.8238524642598073, 'subsample': 0.71822822525269, 'colsample_bylevel': 0.43333595748470505}
AUC 0.836 params {'n_estimators': 10, 'max_depth': 13, 'min_child_weight': 4, 'learning_rate': 0.41614489763491475, 'gamma': 0.3505464377844427, 'colsample_bytree': 0.8352927053719539, 'subsample': 0.7916539873854442, 'colsample_bylevel': 0.33513941018453036}
AUC 0.825 params {'n_estimators': 410, 'max_depth': 13, 'min_child_weight': 4, 'learning_rate': 0.20388914933298374, 'gamma': 0.5909178553362786, 'colsample_bytree': 0.635420062756409, 'subsample': 0.7970207828998387, 'colsample_bylevel': 0.7129448590865972}
AUC 0.818 params {'n_estimators': 810, 'max_depth': 11, 'min_child_weight': 6, 'learning_rate': 0.37872050191556206, 'gamma': 0.8554119017167056, 'colsample_bytree': 0.48429972970493074, 'subsample': 0.9612463758055368, 'colsample_bylevel': 0.7323050977452225}
AUC 0.841 params {'n_estimators': 210, 'max_depth': 3, 'min_child_weight': 3, 'learning_rate': 0.03136618490644272, 'gamma': 0.1375568041911628, 'colsample_bytree': 0.5338062855085517, 'subsample': 0.7369606833366608, 'colsample_bylevel': 0.6557088826985447}
AUC 0.862 params {'n_estimators': 510, 'max_depth': 14, 'min_child_weight': 1, 'learning_rate': 0.012860842191751876, 'gamma': 1.2093986961318934, 'colsample_bytree': 0.3955931523436132, 'subsample': 0.830885646032338, 'colsample_bylevel': 0.6550615986115176}
AUC 0.846 params {'n_estimators': 910, 'max_depth': 15, 'min_child_weight': 1, 'learning_rate': 0.4886271060963942, 'gamma': 1.0294711913518648, 'colsample_bytree': 0.6020328712554242, 'subsample': 0.9608502841907018, 'colsample_bylevel': 0.6025647607960236}
AUC 0.851 params {'n_estimators': 360, 'max_depth': 9, 'min_child_weight': 1, 'learning_rate': 0.14383095604999183, 'gamma': 0.46126503589435175, 'colsample_bytree': 0.7312263756879469, 'subsample': 0.8498162929170536, 'colsample_bylevel': 0.5181166592753059}
AUC 0.814 params {'n_estimators': 260, 'max_depth': 7, 'min_child_weight': 7, 'learning_rate': 0.2845368093486603, 'gamma': 1.068478886848628, 'colsample_bytree': 0.3253503489499316, 'subsample': 0.7661144603628097, 'colsample_bylevel': 0.5439932180724882}
AUC 0.858 params {'n_estimators': 310, 'max_depth': 9, 'min_child_weight': 1, 'learning_rate': 0.13764924312420956, 'gamma': 1.3462594274546065, 'colsample_bytree': 0.4200638280659848, 'subsample': 0.9949495397432948, 'colsample_bylevel': 0.797766978317756}
AUC 0.856 params {'n_estimators': 310, 'max_depth': 4, 'min_child_weight': 1, 'learning_rate': 0.10790832944624443, 'gamma': 1.3166743508316558, 'colsample_bytree': 0.41208883633112825, 'subsample': 0.9992036876764453, 'colsample_bylevel': 0.7848868250492137}
AUC 0.851 params {'n_estimators': 510, 'max_depth': 14, 'min_child_weight': 1, 'learning_rate': 0.1311940119862961, 'gamma': 1.3306832041142285, 'colsample_bytree': 0.41446041408384254, 'subsample': 0.825478114144756, 'colsample_bylevel': 0.670911667431472}
AUC 0.837 params {'n_estimators': 310, 'max_depth': 10, 'min_child_weight': 5, 'learning_rate': 0.04566039882312725, 'gamma': 1.220812782838526, 'colsample_bytree': 0.32147362221422715, 'subsample': 0.8673426791887803, 'colsample_bylevel': 0.7891189064402071}
AUC 0.854 params {'n_estimators': 1010, 'max_depth': 9, 'min_child_weight': 1, 'learning_rate': 0.16216706144578114, 'gamma': 1.3917298212973699, 'colsample_bytree': 0.4271361707134735, 'subsample': 0.9835587515667955, 'colsample_bylevel': 0.7025927530809453}
AUC 0.816 params {'n_estimators': 660, 'max_depth': 15, 'min_child_weight': 7, 'learning_rate': 0.0686907329093566, 'gamma': 1.0326686136357695, 'colsample_bytree': 0.5398098459875662, 'subsample': 0.9504869059541035, 'colsample_bylevel': 0.7953225821073029}
AUC 0.850 params {'n_estimators': 160, 'max_depth': 14, 'min_child_weight': 1, 'learning_rate': 0.013378441137027188, 'gamma': 1.2190258591904635, 'colsample_bytree': 0.43982369940484956, 'subsample': 0.8143089620940831, 'colsample_bylevel': 0.5488420832364711}
AUC 0.852 params {'n_estimators': 110, 'max_depth': 4, 'min_child_weight': 1, 'learning_rate': 0.10990296215087482, 'gamma': 1.4984685414134722, 'colsample_bytree': 0.3577696440801986, 'subsample': 0.7681516771429773, 'colsample_bylevel': 0.688293082356524}
AUC 0.858 params {'n_estimators': 560, 'max_depth': 9, 'min_child_weight': 1, 'learning_rate': 0.22954065538979113, 'gamma': 1.133695151229978, 'colsample_bytree': 0.6470033365416221, 'subsample': 0.8697995258798219, 'colsample_bylevel': 0.7539787499952538}
AUC 0.834 params {'n_estimators': 310, 'max_depth': 5, 'min_child_weight': 5, 'learning_rate': 0.314123329821159, 'gamma': 1.4086384792470645, 'colsample_bytree': 0.30468751101245994, 'subsample': 0.9133050154626717, 'colsample_bylevel': 0.5061492150045382}
AUC 0.819 params {'n_estimators': 710, 'max_depth': 6, 'min_child_weight': 7, 'learning_rate': 0.050750651858513504, 'gamma': 1.4992885287697084, 'colsample_bytree': 0.44498565748946384, 'subsample': 0.8927950439326153, 'colsample_bylevel': 0.6421615990313718}
AUC 0.854 params {'n_estimators': 510, 'max_depth': 1, 'min_child_weight': 1, 'learning_rate': 0.17903512440225222, 'gamma': 0.9820337489520625, 'colsample_bytree': 0.38121526764210656, 'subsample': 0.8288458742958454, 'colsample_bylevel': 0.5696231270026192}
AUC 0.855 params {'n_estimators': 460, 'max_depth': 10, 'min_child_weight': 1, 'learning_rate': 0.0903788533556314, 'gamma': 1.1236929094344443, 'colsample_bytree': 0.6957546633422769, 'subsample': 0.9361728519763471, 'colsample_bylevel': 0.771279619819089}
AUC 0.842 params {'n_estimators': 510, 'max_depth': 7, 'min_child_weight': 3, 'learning_rate': 0.1311639282912454, 'gamma': 1.3814663865606724, 'colsample_bytree': 0.543234003235104, 'subsample': 0.9958009316309306, 'colsample_bylevel': 0.631890398147923}
AUC 0.813 params {'n_estimators': 960, 'max_depth': 11, 'min_child_weight': 5, 'learning_rate': 0.21878710836748427, 'gamma': 1.264209530780716, 'colsample_bytree': 0.4652601723204612, 'subsample': 0.7519992003210694, 'colsample_bylevel': 0.5790831131494256}
AUC 0.849 params {'n_estimators': 610, 'max_depth': 2, 'min_child_weight': 1, 'learning_rate': 0.02919955647585606, 'gamma': 0.9313705568900329, 'colsample_bytree': 0.39084597224566126, 'subsample': 0.7014466888233106, 'colsample_bylevel': 0.7362451395115586}
AUC 0.843 params {'n_estimators': 860, 'max_depth': 8, 'min_child_weight': 2, 'learning_rate': 0.18182324119590507, 'gamma': 0.7856919696708824, 'colsample_bytree': 0.3005307531799642, 'subsample': 0.7825200883176183, 'colsample_bylevel': 0.3912713569817451}
AUC 0.847 params {'n_estimators': 310, 'max_depth': 14, 'min_child_weight': 3, 'learning_rate': 0.06956413532491278, 'gamma': 1.4455330931551897, 'colsample_bytree': 0.33912028498049007, 'subsample': 0.8760838447745247, 'colsample_bylevel': 0.6834201633267972}
AUC 0.805 params {'n_estimators': 1060, 'max_depth': 12, 'min_child_weight': 7, 'learning_rate': 0.3014297832485517, 'gamma': 1.1689875464277844, 'colsample_bytree': 0.5295583470085977, 'subsample': 0.8982957793674676, 'colsample_bylevel': 0.7535863490084668}
AUC 0.815 params {'n_estimators': 760, 'max_depth': 9, 'min_child_weight': 4, 'learning_rate': 0.24307295409272905, 'gamma': 0.18076953230736437, 'colsample_bytree': 0.5745692787843092, 'subsample': 0.8571812776422145, 'colsample_bylevel': 0.7111703932570043}
AUC 0.861 params {'n_estimators': 410, 'max_depth': 5, 'min_child_weight': 1, 'learning_rate': 0.15463823077078506, 'gamma': 0.5283105975204466, 'colsample_bytree': 0.4639343061315283, 'subsample': 0.8008701960311041, 'colsample_bylevel': 0.4745334527028004}
AUC 0.843 params {'n_estimators': 360, 'max_depth': 5, 'min_child_weight': 2, 'learning_rate': 0.3454543869311075, 'gamma': 0.3286279410741838, 'colsample_bytree': 0.5100168487030604, 'subsample': 0.814762164374651, 'colsample_bylevel': 0.4686690475760737}
AUC 0.813 params {'n_estimators': 410, 'max_depth': 5, 'min_child_weight': 6, 'learning_rate': 0.20179186319276127, 'gamma': 0.5556260256002482, 'colsample_bytree': 0.46110687106890247, 'subsample': 0.8021028421268547, 'colsample_bylevel': 0.39016975458351283}
AUC 0.825 params {'n_estimators': 410, 'max_depth': 5, 'min_child_weight': 5, 'learning_rate': 0.017048812586392625, 'gamma': 0.26959986770586786, 'colsample_bytree': 0.5641123497004555, 'subsample': 0.7457919334475563, 'colsample_bylevel': 0.3566014160389883}
AUC 0.849 params {'n_estimators': 10, 'max_depth': 14, 'min_child_weight': 1, 'learning_rate': 0.2737378357224874, 'gamma': 0.4865318491134286, 'colsample_bytree': 0.6062745660253197, 'subsample': 0.7112287794662144, 'colsample_bylevel': 0.5131256015476734}
AUC 0.829 params {'n_estimators': 410, 'max_depth': 6, 'min_child_weight': 4, 'learning_rate': 0.16483535730526036, 'gamma': 0.4435390405804237, 'colsample_bytree': 0.5082063301200265, 'subsample': 0.7824269326102622, 'colsample_bylevel': 0.4638396661444554}
AUC 0.841 params {'n_estimators': 810, 'max_depth': 1, 'min_child_weight': 3, 'learning_rate': 0.3342242277097893, 'gamma': 0.8572748288112224, 'colsample_bytree': 0.7474688140221699, 'subsample': 0.8401565019437836, 'colsample_bylevel': 0.4250468629135093}
AUC 0.829 params {'n_estimators': 910, 'max_depth': 8, 'min_child_weight': 2, 'learning_rate': 0.4984066882452279, 'gamma': 0.7222661573899298, 'colsample_bytree': 0.6518160684487236, 'subsample': 0.7620442325802224, 'colsample_bylevel': 0.3209337352707642}
AUC 0.820 params {'n_estimators': 110, 'max_depth': 2, 'min_child_weight': 6, 'learning_rate': 0.10711864587892976, 'gamma': 0.6410626636785315, 'colsample_bytree': 0.3545118495966544, 'subsample': 0.8307302243158861, 'colsample_bylevel': 0.48949644821410887}
AUC 0.854 params {'n_estimators': 160, 'max_depth': 3, 'min_child_weight': 1, 'learning_rate': 0.457513209905519, 'gamma': 0.38088090422213483, 'colsample_bytree': 0.39991092930417727, 'subsample': 0.813233415913074, 'colsample_bylevel': 0.4066859686438138}
AUC 0.851 params {'n_estimators': 660, 'max_depth': 12, 'min_child_weight': 1, 'learning_rate': 0.08538999271037237, 'gamma': 0.22772223464078012, 'colsample_bytree': 0.6843039800721264, 'subsample': 0.789278592385833, 'colsample_bylevel': 0.6137955269184523}
AUC 0.824 params {'n_estimators': 1010, 'max_depth': 5, 'min_child_weight': 4, 'learning_rate': 0.35990651324452727, 'gamma': 0.5135048003484414, 'colsample_bytree': 0.4699853361145715, 'subsample': 0.7287097467990015, 'colsample_bylevel': 0.5641913506898566}
AUC 0.814 params {'n_estimators': 510, 'max_depth': 11, 'min_child_weight': 7, 'learning_rate': 0.04946648489041312, 'gamma': 0.10384416471182367, 'colsample_bytree': 0.4884401372233669, 'subsample': 0.8598384954007838, 'colsample_bylevel': 0.5383921443664744}
AUC 0.815 params {'n_estimators': 210, 'max_depth': 13, 'min_child_weight': 6, 'learning_rate': 0.2531873043428574, 'gamma': 0.6634718790902013, 'colsample_bytree': 0.6219598863370519, 'subsample': 0.881938319077212, 'colsample_bylevel': 0.5884277801444457}
AUC 0.857 params {'n_estimators': 710, 'max_depth': 15, 'min_child_weight': 1, 'learning_rate': 0.19072996974865253, 'gamma': 0.7823774393930949, 'colsample_bytree': 0.37650518491356133, 'subsample': 0.7767848006835485, 'colsample_bylevel': 0.4443763004332981}
AUC 0.846 params {'n_estimators': 60, 'max_depth': 14, 'min_child_weight': 3, 'learning_rate': 0.16453583900598223, 'gamma': 0.6018295298674895, 'colsample_bytree': 0.7776590886130855, 'subsample': 0.926429200986723, 'colsample_bylevel': 0.36840455277091044}
AUC 0.820 params {'n_estimators': 560, 'max_depth': 7, 'min_child_weight': 5, 'learning_rate': 0.1494243998031192, 'gamma': 0.3997411516577657, 'colsample_bytree': 0.5581463079050715, 'subsample': 0.843870152259914, 'colsample_bylevel': 0.532123702439336}
AUC 0.841 params {'n_estimators': 260, 'max_depth': 14, 'min_child_weight': 2, 'learning_rate': 0.39793886679337975, 'gamma': 0.8332569677627018, 'colsample_bytree': 0.31972522295930417, 'subsample': 0.7519891115236192, 'colsample_bylevel': 0.6519879058684744}
AUC 0.857 params {'n_estimators': 610, 'max_depth': 4, 'min_child_weight': 1, 'learning_rate': 0.23491148079293475, 'gamma': 0.9218400968530323, 'colsample_bytree': 0.43629961679348506, 'subsample': 0.9052832548622921, 'colsample_bylevel': 0.49841431628679733}
AUC 0.854 params {'n_estimators': 960, 'max_depth': 10, 'min_child_weight': 1, 'learning_rate': 0.11855488994833929, 'gamma': 0.5590967352810787, 'colsample_bytree': 0.8679727414143801, 'subsample': 0.7958257200324831, 'colsample_bylevel': 0.34440077559691584}
AUC 0.813 params {'n_estimators': 460, 'max_depth': 3, 'min_child_weight': 7, 'learning_rate': 0.07135849694287971, 'gamma': 0.2946067451551243, 'colsample_bytree': 0.586872942158295, 'subsample': 0.8223342260197454, 'colsample_bylevel': 0.5944421893249594}
AUC 0.824 params {'n_estimators': 860, 'max_depth': 5, 'min_child_weight': 4, 'learning_rate': 0.2848145667691749, 'gamma': 1.0546236321105986, 'colsample_bytree': 0.36409322667382427, 'subsample': 0.7212249466277432, 'colsample_bylevel': 0.6304111973762143}
AUC 0.862 params {'n_estimators': 410, 'max_depth': 13, 'min_child_weight': 1, 'learning_rate': 0.03205123295222909, 'gamma': 0.9680780167072784, 'colsample_bytree': 0.522182979302659, 'subsample': 0.8051552882799482, 'colsample_bylevel': 0.3016739640441922}
AUC 0.860 params {'n_estimators': 410, 'max_depth': 13, 'min_child_weight': 1, 'learning_rate': 0.03455899675617338, 'gamma': 1.261693288988982, 'colsample_bytree': 0.5124421409731034, 'subsample': 0.8015647173546342, 'colsample_bylevel': 0.3070608314369334}
AUC 0.859 params {'n_estimators': 410, 'max_depth': 13, 'min_child_weight': 1, 'learning_rate': 0.018232825639704534, 'gamma': 0.9821174970924953, 'colsample_bytree': 0.40277484620154264, 'subsample': 0.8324515434804116, 'colsample_bylevel': 0.673093696463957}
AUC 0.856 params {'n_estimators': 410, 'max_depth': 13, 'min_child_weight': 1, 'learning_rate': 0.062062676591254834, 'gamma': 0.8928975335643976, 'colsample_bytree': 0.4521301958179317, 'subsample': 0.8502930340079572, 'colsample_bylevel': 0.5247344456254943}
AUC 0.864 params {'n_estimators': 510, 'max_depth': 6, 'min_child_weight': 1, 'learning_rate': 0.09520194824175505, 'gamma': 1.1020474587964464, 'colsample_bytree': 0.4908567846524142, 'subsample': 0.7622694310500184, 'colsample_bylevel': 0.5593257295147386}
AUC 0.862 params {'n_estimators': 510, 'max_depth': 6, 'min_child_weight': 1, 'learning_rate': 0.03679760857730901, 'gamma': 1.0897644249027076, 'colsample_bytree': 0.5244548636892243, 'subsample': 0.7432752131863567, 'colsample_bylevel': 0.5558136346200175}
AUC 0.856 params {'n_estimators': 510, 'max_depth': 6, 'min_child_weight': 1, 'learning_rate': 0.08866994268695294, 'gamma': 1.1246071111044882, 'colsample_bytree': 0.5272838434875433, 'subsample': 0.7423862189022699, 'colsample_bylevel': 0.5587811017663936}
AUC 0.863 params {'n_estimators': 510, 'max_depth': 6, 'min_child_weight': 1, 'learning_rate': 0.037348267080016526, 'gamma': 1.1807702371131015, 'colsample_bytree': 0.6739562324371945, 'subsample': 0.7578708994019291, 'colsample_bylevel': 0.617843451112962}
AUC 0.809 params {'n_estimators': 510, 'max_depth': 6, 'min_child_weight': 6, 'learning_rate': 0.10109258531237869, 'gamma': 0.9965917118770317, 'colsample_bytree': 0.6791660890813773, 'subsample': 0.7065868737879835, 'colsample_bylevel': 0.6232151107441068}
AUC 0.859 params {'n_estimators': 1060, 'max_depth': 6, 'min_child_weight': 1, 'learning_rate': 0.12351944312175364, 'gamma': 1.2934736425199813, 'colsample_bytree': 0.8006924537369671, 'subsample': 0.7614371323139492, 'colsample_bylevel': 0.5737216782798021}
AUC 0.822 params {'n_estimators': 760, 'max_depth': 6, 'min_child_weight': 5, 'learning_rate': 0.05240416442071247, 'gamma': 1.1702340575276222, 'colsample_bytree': 0.7191630047623756, 'subsample': 0.7286821231248841, 'colsample_bylevel': 0.4496618062940938}
AUC 0.803 params {'n_estimators': 10, 'max_depth': 6, 'min_child_weight': 3, 'learning_rate': 0.08051552909301983, 'gamma': 1.4354586510790206, 'colsample_bytree': 0.6220416693328288, 'subsample': 0.770235888383034, 'colsample_bylevel': 0.6010125277205824}
AUC 0.721 params {'n_estimators': 360, 'max_depth': 1, 'min_child_weight': 1, 'learning_rate': 0.011461287101133508, 'gamma': 1.1820743294364486, 'colsample_bytree': 0.7162508239688776, 'subsample': 0.7185050775080571, 'colsample_bylevel': 0.725449017654036}

In [209]:
from sklearn.feature_extraction.text import TfidfVectorizer
train, test = train_test_split(df, random_state=42, test_size=0.30, shuffle=True)
vectorizer = TfidfVectorizer(strip_accents='unicode', analyzer='word', ngram_range=(1,2), norm='l2')
vectorizer.fit(train.lemmatized_comment)
vectorizer.fit(test.lemmatized_comment)
x_train = vectorizer.transform(train.lemmatized_comment)
y_train = train[['Class']]
x_test = vectorizer.transform(test.lemmatized_comment)
y_test = test[['Class']]

In [126]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import label_ranking_average_precision_score


xgb_model =  xgb.XGBClassifier(objective='multi:softprob', num_class=2, n_estimators= 510, max_depth= 80, min_child_weight= 1, learning_rate= 0.09520194824175505, gamma= 1.1020474587964464,
                                      colsample_bytree= 0.4908567846524142, subsample= 0.7622694310500184, colsample_bylevel= 0.5593257295147386,
                                          scale_pos_weight=train.Class[train.Class==0].count()/train.Class[train.Class==1].count())
            
xgb_model.fit(x_train, y_train)

/usr/local/lib64/python3.6/site-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib64/python3.6/site-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(base_score=0.5, booster='gbtree',
              colsample_bylevel=0.5593257295147386,
              colsample_bytree=0.4908567846524142, gamma=1.1020474587964464,
              learning_rate=0.09520194824175505, max_delta_step=0, max_depth=80,
              min_child_weight=1, missing=None, n_estimators=510, n_jobs=1,
              nthread=None, num_class=2, objective='multi:softprob',
              random_state=0, reg_alpha=0, reg_lambda=1,
              scale_pos_weight=1.7545605306799337, seed=None, silent=True,
              subsample=0.7622694310500184)

In [127]:
# make predictions for test data
y_pred = xgb_model.predict(x_test)
predictions = [round(value) for value in y_pred]

In [128]:

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
print(metrics.classification_report(y_test, y_pred))

Accuracy: 88.76%
              precision    recall  f1-score   support

           0       0.89      0.94      0.92       457
           1       0.89      0.79      0.83       255

    accuracy                           0.89       712
   macro avg       0.89      0.87      0.87       712
weighted avg       0.89      0.89      0.89       712

In [227]:
#Adding Booking.com reviews

df1 = pd.read_csv('Hotel_Reviews.csv')

In [228]:
df1_positive = df1[['Positive_Review']]

In [229]:
df1_negative = df1[['Negative_Review']]

In [230]:
df1_negative = df1_negative[df1_negative.Negative_Review!='No Negative']

In [231]:
df1_negative = df1_negative[df1_negative.Negative_Review!='Nothing']

In [232]:
df1_negative

                                          Negative_Review
0        I am so angry that i made this post available...
2        Rooms are nice but for elderly a bit difficul...
3        My room was dirty and I was afraid to walk ba...
4        You When I booked with your company on line y...
5        Backyard of the hotel is total mess shouldn t...
...                                                   ...
515731   No parking Public parking garage is 15 Euro p...
515733   no trolly or staff to help you take the lugga...
515734           The hotel looks like 3 but surely not 4
515735   The ac was useless It was a hot week in vienn...
515737       I was in 3rd floor It didn t work Free Wife

[387848 rows x 1 columns]

In [233]:
df1_positive = df1_positive[df1_positive.Positive_Review!='No Positive']

In [234]:
df1_positive = df1_positive[df1_positive.Positive_Review!='Nothing']

In [235]:
df1_positive

                                          Positive_Review
0        Only the park outside of the hotel was beauti...
1        No real complaints the hotel was great great ...
2        Location was good and staff were ok It is cut...
3        Great location in nice surroundings the bar a...
4         Amazing location and building Romantic setting
...                                                   ...
515732   helpful staff allowed me to check in early as...
515733                                           location
515734      Breakfast was ok and we got earlier check in
515736   The rooms are enormous and really comfortable...
515737                               staff was very kind

[479792 rows x 1 columns]

In [236]:
df1_positive = df1_positive[df1_positive['Positive_Review'].apply(lambda x: len(x.split(' ')) > 3)]

In [237]:
df1_positive['Class'] = 1

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [238]:
df1_positive.columns = ['review', 'Class']

In [239]:
df1_negative =  df1_negative[df1_negative['Negative_Review'].apply(lambda x: len(x.split(' ')) > 3)]

In [240]:
df1_negative['Class'] = 0

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [241]:
df1_negative.columns = ['review', 'Class']

In [242]:
df1_negative

                                                   review  Class
0        I am so angry that i made this post available...      0
2        Rooms are nice but for elderly a bit difficul...      0
3        My room was dirty and I was afraid to walk ba...      0
4        You When I booked with your company on line y...      0
5        Backyard of the hotel is total mess shouldn t...      0
...                                                   ...    ...
515731   No parking Public parking garage is 15 Euro p...      0
515733   no trolly or staff to help you take the lugga...      0
515734           The hotel looks like 3 but surely not 4       0
515735   The ac was useless It was a hot week in vienn...      0
515737       I was in 3rd floor It didn t work Free Wife       0

[345057 rows x 2 columns]

In [243]:
df1 = df1_positive.append(df1_negative)

In [244]:
df1

                                                   review  Class
0        Only the park outside of the hotel was beauti...      1
1        No real complaints the hotel was great great ...      1
2        Location was good and staff were ok It is cut...      1
3        Great location in nice surroundings the bar a...      1
4         Amazing location and building Romantic setting       1
...                                                   ...    ...
515731   No parking Public parking garage is 15 Euro p...      0
515733   no trolly or staff to help you take the lugga...      0
515734           The hotel looks like 3 but surely not 4       0
515735   The ac was useless It was a hot week in vienn...      0
515737       I was in 3rd floor It didn t work Free Wife       0

[781382 rows x 2 columns]

In [246]:
# return the wordnet object value corresponding to the POS tag
from nltk.corpus import wordnet

def get_wordnet_pos(pos_tag):
    if pos_tag.startswith('J'):
        return wordnet.ADJ
    elif pos_tag.startswith('V'):
        return wordnet.VERB
    elif pos_tag.startswith('N'):
        return wordnet.NOUN
    elif pos_tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN
    
import string
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.tokenize import WhitespaceTokenizer
from nltk.stem import WordNetLemmatizer

def clean_text(text):
    # lower text
    text = text.lower()
    # tokenize text and remove puncutation
    text = [word.strip(string.punctuation) for word in text.split(" ")]
    # remove words that contain numbers
    text = [word for word in text if not any(c.isdigit() for c in word)]
    # remove stop words
    stop = ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", 
            "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 
            'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 
            'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 
            'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 
            'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of',
            'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 
            'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 
            'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 
            'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'only', 'own', 
            'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 
            "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', "aren't", 'couldn', 
            "couldn't", "hadn't", "hasn't", 
            "haven't", "isn't", 'ma', "mightn't", "mustn't", "needn't" , "shan't", 'shouldn', 'wasn', "weren't"]


    text = [x for x in text if x not in stop]
    # remove empty tokens
    text = [t for t in text if len(t) > 0]
    # pos tag text
    pos_tags = pos_tag(text)
    # lemmatize text
    text = [WordNetLemmatizer().lemmatize(t[0], get_wordnet_pos(t[1])) for t in pos_tags]
    # remove words with only one letter
    text = [t for t in text if len(t) > 1]
    # join all
    text = " ".join(text)
    return(text)

# clean text data
df1["lemmatized_comment"] = df1["review"].apply(lambda x: clean_text(x))

In [428]:
df1[['lemmatized_comment','Class']]

                                       lemmatized_comment  Class
0                            park outside hotel beautiful      1
1       no real complaint hotel great great location s...      1
2       location good staff ok cute hotel breakfast ra...      1
3       great location nice surroundings bar restauran...      1
4                amaze location building romantic setting      1
...                                                   ...    ...
515731         no park public parking garage euro per day      0
515733             no trolly staff help take luggage room      0
515734                         hotel look like surely not      0
515735            ac useless hot week vienna give hot air      0
515737                          floor didn work free wife      0

[781382 rows x 2 columns]

In [248]:
from sklearn.feature_extraction.text import TfidfVectorizer
train, test = train_test_split(df1, random_state=42, test_size=0.30, shuffle=True)
vectorizer = TfidfVectorizer(strip_accents='unicode', analyzer='word', ngram_range=(1,2), norm='l2')
vectorizer.fit(train.lemmatized_comment)
vectorizer.fit(test.lemmatized_comment)
x_train = vectorizer.transform(train.lemmatized_comment)
y_train = train[['Class']]
x_test = vectorizer.transform(test.lemmatized_comment)
y_test = test[['Class']]

In [ ]:
# Hyperparamete Tuning
from sklearn.model_selection import cross_val_score, StratifiedKFold
from sklearn.metrics import roc_auc_score, make_scorer, accuracy_score
from hyperopt import hp, tpe
import xgboost as xgb
from hyperopt.fmin import fmin

auc_scorer = make_scorer(roc_auc_score)

def objective(params):
   
    params = {'n_estimators': int(params['n_estimators']),
              'max_depth': int(params['max_depth']),
              'min_child_weight': int(params['min_child_weight']),
              'learning_rate' : float(params['learning_rate']),
              'gamma': float(params['gamma']),
              'colsample_bytree': float(params['colsample_bytree']),
              'subsample': float(params['subsample']),
              'colsample_bylevel': float(params['colsample_bylevel'])
#               ,'class_weight':str(params['class_weight'])
             }
   
    clf = xgb.XGBClassifier(random_state=42, **params)
    score = cross_val_score(clf,features_new,labels, scoring=auc_scorer, cv=StratifiedKFold(n_splits=5)).mean()
    print("AUC {:.3f} params {}".format(score, params))
    return -score

space = {
    'learning_rate':    hp.uniform('learning_rate', 0.01, 0.5),
    'max_depth':        hp.choice('max_depth',        np.arange(1, 16, 1, dtype=int)),
    'min_child_weight': hp.choice('min_child_weight', np.arange(1, 8, 1, dtype=int)),
    'gamma' : hp.uniform('gamma', 0.1, 1.5),
    'colsample_bytree': hp.uniform('colsample_bytree', 0.3, 0.9),
    'subsample':        hp.uniform('subsample', 0.7, 1),
    'colsample_bylevel': hp.uniform('colsample_bylevel', 0.3, 0.8),
    'n_estimators':     hp.choice('n_estimators', np.arange(10, 1100, 50, dtype=int)),
}

best = fmin(fn=objective,
            space=space,
            algo=tpe.suggest,
            max_evals=100)
for i in best.keys():
    best[i] = int(best[i])

best_model = xgb.XGBClassifier(random_state=42, **best)

In [249]:

xgb_model =  xgb.XGBClassifier(objective='multi:softprob', num_class=2, n_estimators= 510, max_depth= 80, min_child_weight= 1, learning_rate= 0.09520194824175505, gamma= 1.1020474587964464,
                                      colsample_bytree= 0.4908567846524142, subsample= 0.7622694310500184, colsample_bylevel= 0.5593257295147386)
                                          
            
xgb_model.fit(x_train, y_train)

/usr/local/lib64/python3.6/site-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib64/python3.6/site-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(base_score=0.5, booster='gbtree',
              colsample_bylevel=0.5593257295147386,
              colsample_bytree=0.4908567846524142, gamma=1.1020474587964464,
              learning_rate=0.09520194824175505, max_delta_step=0, max_depth=80,
              min_child_weight=1, missing=None, n_estimators=510, n_jobs=1,
              nthread=None, num_class=2, objective='multi:softprob',
              random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
              seed=None, silent=True, subsample=0.7622694310500184)

In [187]:
from sklearn.metrics import roc_auc_score

# make predictions for test data
y_pred = xgb_model.predict(x_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
print(metrics.classification_report(y_test, y_pred))
print("ROC_AUC score: %.2f%%" % (roc_auc_score(y_test, y_pred)))

Accuracy: 95.19%
              precision    recall  f1-score   support

           0       0.96      0.95      0.96    130679
           1       0.94      0.95      0.95    103736

    accuracy                           0.95    234415
   macro avg       0.95      0.95      0.95    234415
weighted avg       0.95      0.95      0.95    234415

ROC_AUC score: 0.95%

In [252]:
sample = vectorizer.transform(["bad hotel dirty washroom","good stay owner supportive"])
y_pred = xgb_model.predict(sample)
predictions = [round(value) for value in y_pred]
predictions

[0, 1]

In [423]:
sample = vectorizer.transform(resampled_df['lemmatized_comment'])
y_pred = xgb_model.predict(sample)
y_pred_prob = xgb_model.predict_proba(sample)
predictions = [round(value) for value in y_pred]
accuracy = accuracy_score(resampled_df['Class'], predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
print(metrics.classification_report(resampled_df['Class'], y_pred))
print('ROC_AUC is {}'.format(metrics.roc_auc_score(resampled_df['Class'], y_pred)))
print(confusion_matrix(resampled_df['Class'], y_pred, labels=[0,1]))

Accuracy: 91.14%
              precision    recall  f1-score   support

           0       0.89      0.96      0.93      1150
           1       0.94      0.85      0.89       858

    accuracy                           0.91      2008
   macro avg       0.92      0.90      0.91      2008
weighted avg       0.91      0.91      0.91      2008

ROC_AUC is 0.903372859025033
[[1102   48]
 [ 130  728]]

In [294]:
# #RoBERTa

  
# import pandas as pd
# from simpletransformers.classification import ClassificationModel

# # Train and Evaluation data needs to be in a Pandas Dataframe of two columns. The first column is the text with type str, and the second column is the label with type int.
# train_df = train[['lemmatized_comment','Class']]

# eval_df = test[['lemmatized_comment','Class']]

# # Create a ClassificationModel
# model = ClassificationModel("roberta", "roberta-base", use_cuda=False)

# # Train the model
# model.train_model(train_df, use_cuda=False, output_dir='outputs2')

# # Evaluate the model
# result, model_outputs, wrong_predictions = model.eval_model(eval_df)

In [424]:
resampled_df['prediction0'] = y_pred_prob[:,0]
resampled_df['prediction1'] = y_pred_prob[:,1]
resampled_df['prediction'] = predictions

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [425]:
resampled_df

,Unnamed: 0,OYO ID,Hotel ID,OYO Product,Feedback ID,Booking ID,Source,Rating,L1,L2,...,Pricing,Default,Classification,comment(1cleaning),langid,lemmatized_comment,Class,prediction0,prediction1,prediction
0,1062,MRT042,46039,SMART,60144582,118672380,Android App,5,NaN,NaN,...,False,False,Good,i had a great stay hotel staff was very suppor...,en,great stay hotel staff supportive kind hearted...,1,0.003661,0.996339,1
1,283,KOL1340,82429,SMART,60156829,118141552,Android App,1,NaN,NaN,...,False,False,Bad,worst ever oyo experienced no oyo sign board m...,en,worst ever oyo experienced no oyo sign board m...,0,0.976968,0.023032,0
2,737,ASR293,58291,SMART,60168982,118586097,bulk_upload,0,NaN,NaN,...,False,True,Good,one of the best properties we have ever been i...,en,one best property ever would like visit strong...,1,0.188093,0.811907,1
3,1465,GRG1010,40843,SMART,60178229,118844212,Android App,5,NaN,NaN,...,False,False,Good,everything is good no complaints staff behavio...,en,everything good no complaint staff behaviour p...,1,0.020298,0.979702,1
4,654,DEL775,15322,SMART,60179150,118417540,Android App,5,NaN,NaN,...,False,False,Good,one of the best hotel through oyo i recommend ...,en,one best hotel oyo recommend hotel guest room ...,1,0.008773,0.991227,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2383,905,DEL1525,55641,SPOT ON,61373230,118489815,Integrated OTA,2,NaN,NaN,...,False,True,Bad,refused to provide a discount for booking i ca...,en,refuse provide discount book say anything posi...,0,0.961890,0.038110,0
2384,989,GZB108,46852,SMART,61382951,121800300,IOS App,3,NaN,NaN,...,False,False,Bad,the curtains were very thin and incapable to k...,en,curtain thin incapable keep sunlight away cann...,0,0.988688,0.011312,0
2385,842,SRG102,56126,SMART,61390504,117518389,Android App,3,NaN,NaN,...,False,True,Bad,no local ids cards accepted and unmarried coup...,en,no local id card accept unmarried couple not w...,0,0.994857,0.005143,0
2386,2199,DEL1593,57984,Townhouse,61390678,122345895,Crs,1,NaN,NaN,...,False,False,Bad,wash room was not clean room was not clean pro...,en,wash room not clean room not clean properly co...,0,0.997769,0.002231,0
2388,1149,MUM1123,59540,CapitalO,61395280,122677830,Crs,3,NaN,NaN,...,False,False,Good,it was good stay reception people was very rud...,en,good stay reception people rude payment issue ...,1,0.956377,0.043623,0

In [426]:
from sklearn.metrics import confusion_matrix
threshold = [0.9,0.8,0.7,0.6,0.5]
for t in threshold:
    print("Threshold: %.2f" % (t))
    threshold_df = resampled_df[(resampled_df.prediction0 > t) | (resampled_df.prediction1 > t)]
    tp = confusion_matrix(threshold_df['Class'], threshold_df['prediction'], labels=[0,1])[0][0]
    fn = confusion_matrix(threshold_df['Class'], threshold_df['prediction'], labels=[0,1])[1][0] + (resampled_df.shape[0] - threshold_df.shape[0])
    tn = confusion_matrix(threshold_df['Class'], threshold_df['prediction'], labels=[0,1])[0][1]
    fp = confusion_matrix(threshold_df['Class'], threshold_df['prediction'], labels=[0,1])[1][1]
    precision = float(tp) / (tp + tn)
    recall = float(tp) / (tp + fn)
    f1 = 2 * (precision * recall) / (precision + recall)
    print("Precision: %.2f" % (precision))
    print("Recall: %.2f" % (recall))
    print("F1 score: %.2f" % (f1))
    print("\n")

Threshold: 0.90
Precision: 0.99
Recall: 0.70
F1 score: 0.82


Threshold: 0.80
Precision: 0.98
Recall: 0.78
F1 score: 0.87


Threshold: 0.70
Precision: 0.98
Recall: 0.83
F1 score: 0.90


Threshold: 0.60
Precision: 0.97
Recall: 0.86
F1 score: 0.91


Threshold: 0.50
Precision: 0.96
Recall: 0.89
F1 score: 0.93